<div class="form-container">
  <h4>Media</h4>
  <div [formGroup]="mediaForm" class="form-field-group">
    <div class="form-field">
      <div class="form-field">
        <h5>Party Banner</h5>
        <p-fileUpload
          name="banner"
          mode="basic"
          chooseLabel="Selecionar Banner"
          [auto]="false"
          [customUpload]="true"
          (onSelect)="onFileSelect($event, 'banner')"
          [showUploadButton]="false"
          [showCancelButton]="false"
          accept="image/*"
          maxFileSize="1000000"
        >
        </p-fileUpload>
      </div>
    </div>
  </div>
  <div class="buttons-container">
    <button
      pButton
      type="button"
      label="Next"
      icon="pi pi-arrow-right"
      iconPos="right"
      (click)="onNext()"
      class="button-create"
    ></button>
    <button
      pButton
      type="button"
      severity="secondary"
      label="Previous"
      icon="pi pi-arrow-left"
      iconPos="left"
      (click)="onPrevious()"
      class="button-previous"
    ></button>
  </div>
</div>
