<div class="form-container">
  <h4>Media</h4>
  <div [formGroup]="mediaForm" class="form-field-group">
    <div class="form-field">
      <h5>Party Logo</h5>
      <p-fileUpload
        name="logo"
        mode="advanced"
        [auto]="false"
        [customUpload]="false"
        [showUploadButton]="false"
        [showCancelButton]="false"
        [multiple]="false"
        [accept]="'image/*'"
        (onSelect)="onLogoSelected($event)"
      >
      </p-fileUpload>
    </div>

    <div class="form-field">
      <h5>Party Banner</h5>
      <p-fileUpload
        name="banner"
        mode="advanced"
        [auto]="false"
        [customUpload]="false"
        [showUploadButton]="false"
        [showCancelButton]="false"
        [multiple]="false"
        [accept]="'image/*'"
        (onSelect)="onBannerSelected($event)"
      >
      </p-fileUpload>
    </div>
  </div>
</div>
