<div class="heading">
  <h1>Recover Password</h1>
  <p>Please enter your details to recover your password.</p>
</div>

<form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
        <label for="email">Email <span class="form-required-field">*</span></label>
        <span class="input-with-icon">
          <input
            id="email"
            type="email"
            pInputText
            formControlName="email"
            [ngClass]="{'ng-invalid ng-dirty': submitted && recoverPasswordForm.get('email')?.errors}"
          />
        </span>
        @if (submitted || (recoverPasswordForm.controls.email.invalid &&
        recoverPasswordForm.controls.email.touched && recoverPasswordForm.controls.email.dirty)){ @if
        (recoverPasswordForm.controls.email.errors?.['required']) {
        <small class="error-message">Email is required</small>
        } @if (recoverPasswordForm.controls.email.errors?.['email']) {
        <small class="error-message">Please enter a valid email address</small>
        } }
      </div>

      <div class="form-field">
        <label class="form-label" for="birthDate">Date of Birth <span class="form-required-field">*</span></label>
        <p-datepicker
          id="birthDate"
          formControlName="birthDate"
          [showIcon]="true"
          dateFormat="mm/dd/yy"
          styleClass="full-width"
          [ngClass]="{'ng-invalid ng-dirty': submitted && recoverPasswordForm.get('birthDate')?.errors}"
        ></p-datepicker>
        @if (submitted || (recoverPasswordForm.controls.birthDate.invalid &&
        recoverPasswordForm.controls.birthDate.touched &&
        recoverPasswordForm.controls.birthDate.dirty)) { @if
        (recoverPasswordForm.controls.birthDate.errors?.['required']) {
        <small class="error-message">Birth date is required</small>
        } }
      </div>

      <p-button
      type="submit"
      label="Submit"
      styleClass="p-button-raised"
      fluid
    ></p-button>
</form>
