<div class="heading">
  <h1>Reset Password</h1>
  <p>Please enter your new password.</p>
</div>

<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label>New password</label>
    <p-password
      id="newPassword"
      formControlName="newPassword"
      [toggleMask]="true"
      [feedback]="true"
      styleClass="full-width"
      [ngClass]="{'ng-invalid ng-dirty': submitted && resetForm.get('newPassword')?.errors}"
    ></p-password>
    @if (resetForm.get('newPassword')?.invalid &&
    resetForm.get('newPassword')?.touched) {
    <small class="error-message"
      >The password must be at least 8 characters long.</small
    >
    }
  </div>

  <p-button
    type="submit"
    label="Reset password"
    styleClass="p-button-raised"
    fluid
  ></p-button>
</form>

@if (success) {
<div>Password successfully reset!</div>
} @if (error) {
<div>{{ error }}</div>
}
