<div class="heading">
  <h1>Welcome Back</h1>
  <p>Please enter your credentials to login</p>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="email">Email <span class="form-required-field">*</span></label>
    <span class="input-with-icon">
      <input
        id="email"
        type="email"
        pInputText
        formControlName="email"
        [ngClass]="{'ng-invalid ng-dirty': submitted() && loginForm.get('email')?.errors}"
      />
    </span>
    @if (submitted() || (loginForm.controls.email.invalid &&
    loginForm.controls.email.touched && loginForm.controls.email.dirty)){ @if
    (loginForm.controls.email.errors?.['required']) {
    <small class="error-message">Email is required</small>
    } @if (loginForm.controls.email.errors?.['email']) {
    <small class="error-message">Please enter a valid email address</small>
    } }
  </div>

  <div class="form-field">
    <div class="password-field">
      <label for="password"
        >Password <span class="form-required-field">*</span></label
      >
      @if (submitted() && errorMessage()) {
        <a class="password-field-forget" [routerLink]="['/auth/password']">Forgot password?</a>
      }
    </div>
    <span class="input-with-icon">
      <p-password
        id="password"
        formControlName="password"
        [toggleMask]="true"
        [feedback]="false"
        styleClass="full-width"
        [ngClass]="{'ng-invalid ng-dirty': submitted() && loginForm.get('password')?.errors}"
      ></p-password>
    </span>
    @if (submitted() || (loginForm.controls.password.invalid &&
    loginForm.controls.password.touched && loginForm.controls.password.dirty)) {
    @if (loginForm.controls.password.errors?.['required']) {
    <small class="error-message">Password is required</small>
    } @if (loginForm.controls.password.errors?.['minlength']) {
    <small class="error-message">Password must be at least 8 characters</small>
    } }
  </div>

  <div>
    <p-button
      type="submit"
      label="Submit"
      styleClass="p-button-raised"
      fluid
    ></p-button>
  </div>
</form>
<div>
  <p>
    Don't have an account?
    <a class="form-link" [routerLink]="['/auth/signup']">Sign Up</a>
  </p>
</div>
