:host {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}

main {
    width: 48%;
    height: 95%;
}

section {
    width: 48%;
    height: 95%;
}