:host {
    width: 75vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

main {
    width: 100%;
    height: 100%;

    .page-heading {
        display: flex;
        flex-direction: column;
        gap: 0.313rem;
        margin-bottom: 3.125rem;
    }
}